# Dependências
node_modules/
.pnp
.pnp.js

# Produção
/build
/.svelte-kit
/package

# Ambiente
.env
.env.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testes
coverage/
.nyc_output

# TypeScript
*.tsbuildinfo

# Temporários
*.tmp
*.temp
.cache/
